body {
    background: url('RMDN0570_1_1.mp4');
    background-size: cover;
}

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
  }

.first{
    font-size: 50em;
    font-family: Prompt, cursive;

    color: whitesmoke;

    -webkit-text-stroke: 5px rgb(146, 225, 250);
}

.txt {
    font-family: Prompt, cursive;
    font-size: 6em;

    color: whitesmoke;

    -webkit-text-stroke: 5px rgb(146, 225, 250);
}

.txt2 {
    font-family: Prompt, cursive;
    font-size: 3em;

    color: white;

    -webkit-text-stroke: 1px rgb(146, 225, 250);
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

@font-face {
    font-family: Prompt;
    src: url('fonts/Prompt-BlackItalic.ttf');
}

img {
    border-radius: 25px;
}

.padding{
    padding-left: 15%;
    padding-right: 15%;
}

.pr {
    padding-left: 50%;
}